.hero-btn {
    display: inline-block;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}