// Colors

$color-primary: white;
$color-secondary: #d4fa29;
$color-tertiary: #1b1d06;
$color-bg: #f0f5de;

// Breakpoints

$breakpoint: (
    mobile: 700px,
    tablet: 769px,
    desktop: 1025px,
  
);