// Colors

$color-primary: white;
$color-secondary: #f79b5e;
$color-tertiary: #130f04;
$color-bg: #f0f5de;

// Breakpoints

$breakpoint: (
    mobile: 700px,
    tablet: 769px,
    desktop: 1025px,
  
);