// Colors

$color-primary: white;
$color-secondary: #8cfff5;
$color-tertiary: #040808;
$color-bg: #def4f5;

// Breakpoints

$breakpoint: (
    mobile: 700px,
    tablet: 769px,
    desktop: 1025px,
  
);